@import 'tailwindcss';
@theme {
	/* --breakpoint-xs: ; */
	--breakpoint-xl: 1200px;
	--breakpoint-md: 810px;
	--breakpoint-lg: 390px;
}

body {
	font-family: 'DM Sans', sans-serif;
	font-weight: 500;
	background-color: #121212;
	color: white;
}
